<!DOCTYPE html>
<html>
<head>
    <title>BeepBoop</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="column full">
                <h1>BeepBoop</h1>
                <div id="chat">
                    <div id="inital" class="chat system">Allow us to use your microphone to get you talking!</div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        var user = document.getElementById('user');
        var cb   = document.getElementById('cb');

        // Speech to text
        var recognition            = new webkitSpeechRecognition();
        recognition.continuous     = true;
        recognition.interimResults = false;

        recognition.onerror = function () {
            recognition.start();
        }

        recognition.onend = function () {
            recognition.start();
        }

        // Remove notification when mic is enabled
        recognition.onstart = function () {
            $('#inital').remove();
        }

        recognition.onresult = function(event) {
            var text = event.results[event.results.length - 1][0].transcript;

            // Your speech in text
            console.log(text);

            thinking();

            $.ajax({
                url: '/cleverbot',
                type: 'GET',
                // send it what you said
                data: {text: text},
            })
            .done(function(data) {
                // Text to speech
                console.log(data.message);
                var msg = new SpeechSynthesisUtterance(data.message);
                window.speechSynthesis.speak(msg);

            })
            .fail(function() {
                console.log("error");
            });

        }

        function thinking () {
            $('#chat').append($('<div class="   "></div>'));
        }

        recognition.start();

    </script>
</body>
</html>