<!DOCTYPE html>
<html>
<head>
    <title>BeepBoop</title>
    <link rel=" stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="column full">
                <h1>Scarlet <span class="tagline">Artificial "Intelligence"</span></h1>
                <div id="chat">
                    <div id="inital" class="chat system">Allow us to use your microphone to get you talking!</div>
                </div>
                <div id="speak" class="action-btn">Reply</div>
            </div>

        </div>

    </div>

    <div id="dimmer">
        <h1>SPEAK</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        var user = document.getElementById('user');
        var cb   = document.getElementById('cb');

        // Speech to text
        var recognition            = new webkitSpeechRecognition();
        recognition.continuous     = false;
        recognition.interimResults = false;

        console.log(recognition);

        $('#speak').on('click', function () {
            recognition.start();
        });

        $('#dimmer').hide();

        recognition.onerror = function (error) {
            console.log(error);
            $('#inital').show();
        }

        recognition.onend = function (data) {
            console.log(data);
            $('#dimmer').hide();
        }

        recognition.onaudiostart = function () {
            $('#dimmer').show();
        }

        recognition.onaudioend = function () {
            $('#dimmer').hide();
        }

        recognition.onspeechend = function (data) {
            console.log(data);
        }

        recognition.onspeechstart = function (data) {
            console.log(data);
            thinking();
        }

        // Remove notification when mic is enabled
        recognition.onstart = function () {
            $('#inital').hide();
        }

        recognition.onresult = function(event) {
            var text = event.results[event.results.length - 1][0].transcript;

            // Your speech in text
            console.log(text);

            var chat = $('#chat');

            chat.append($('<div class="user chat">' + text + '</div>'));
            scrollChat();

            var ttlc = text.toLowerCase();

            if (ttlc.indexOf("i'm feeling")  > -1 ||
                ttlc.indexOf("i am feeling") > -1 ||
                ttlc.indexOf("i feel")       > -1) {
                playMusic(text);
            } else if ((ttlc.indexOf("what's") > -1 || ttlc.indexOf("what is") > -1) &&
                ttlc.indexOf("temperature") > -1) {
                checkTemp(text);
            } else if ((ttlc.indexOf("leave the") > -1 || ttlc.indexOf("leave on") > -1) &&
                (ttlc.indexOf("light") > -1 || ttlc.indexOf("lights") > -1)) {
                checkLight(text);
            } else {
                askCleverBot(text);
            }

        }

        function scrollChat () {
            var objDiv = document.getElementById("chat");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function playMusic (text) {
            $.ajax({
                url: '/sentiment',
                type: 'GET',
                // send it what you said
                data: text,
            })
            .done(function(data) {
                // Text to speech
                console.log(data);
                cbSpeak("I have a song for you, it's called " + data.title + " by " + data.user.username);
                doneThinking();

                // insert music into DOM
                var video = document.createElement('iframe');
                video.setAttribute('width', '100%');
                video.setAttribute('height', '100%');
                video.setAttribute('scrolling', 'no');
                video.setAttribute('frameborder', 'no');
                console.log(data.attachments_uri.replace('api.',''));
                video.setAttribute('src', 'https://w.soundcloud.com/player/?url=' +
                    encodeURIComponent(data.attachments_uri
                        .replace('/attachments', '')) + '&auto_play=true');

                $('.cb.chat').last().append(video);
                scrollChat();
            })
            .fail(function() {
                console.log("error");
            });
        }

        function checkTemp (text) {
            edisonCheck('temp');
        }

        function checkLight (text) {
            edisonCheck('light');
        }

        function checkSound (text) {
            edisonCheck('sound');
        }

        function edisonCheck (type) {
            $.ajax({
                url: 'https://138.51.223.228:3000/' + type,
                type: 'GET',
            })
            .done(function(data) {
                // Text to speech
                cbSpeak(data);
                doneThinking();
            })
            .fail(function() {
                console.log("error");
                cbSpeak("Sorry, something is wrong with the Edison board!");
            });
        }

        function askCleverBot (text) {
            $.ajax({
                url: '/cleverbot',
                type: 'GET',
                // send it what you said
                data: {text: text},
            })
            .done(function(data) {
                // Text to speech
                console.log(data.message);
                cbSpeak(data.message);
                doneThinking();
            })
            .fail(function() {
                console.log("error");
            });
        }

        function cbSpeak (str) {
            var msg = new SpeechSynthesisUtterance(str);
            window.speechSynthesis.speak(msg);
            $('#chat').append($('<div class="cb chat">' + str + '</div>'));
            scrollChat();
        }

        function thinking () {
            $('#chat').append($('<div class="notification">BeepBoop is thinking...</div>'));
        }

        function doneThinking () {
            $('#chat').find('.notification').remove();
        }

        //recognition.start();

    </script>
</body>
</html>