*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media (min-width: 770px) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }

  .column.full {
    width: 100%; }

  .column.two-thirds {
    width: 66.7%; }

  .column.half {
    width: 50%; }

  .column.third {
    width: 33.3%; }

  .column.fourth {
    width: 25%; }

  .column.flow-opposite {
    float: right; } }
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  padding-bottom: 0.67em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  font-size: 3em;
  margin: 0;
  padding: 0; }
  h1 span.tagline {
    font-size: 0.5em;
    color: rgba(255, 0, 0, 0.7); }

a {
  color: #5677fc; }

html, body, .container, .row, .column {
  height: 100%; }

h1 {
  color: red;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0; }

#chat {
  position: relative;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 1em;
  background-color: #fff; }

.chat {
  padding: 1em;
  margin: 0.5em;
  display: inline-block;
  clear: both;
  border-radius: 0.5em; }

.chat.user {
  position: relative;
  padding: 0px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.chat.user:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 0 14px 19px;
  border-color: transparent red;
  display: block;
  width: 0;
  right: -19px;
  top: 12px; }

.chat.user {
  padding: 1em;
  color: red;
  float: right;
  margin-right: 1.2em;
  border: 1px solid red; }

.chat.cb {
  position: relative;
  padding: 0px;
  background: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.chat.cb:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 19px 14px 0;
  border-color: transparent red;
  display: block;
  width: 0;
  left: -19px;
  top: 12px; }

.chat.cb {
  padding: 1em;
  margin-left: 1em;
  background-color: red;
  color: white;
  float: left; }
  .chat.cb iframe {
    margin-top: 1em; }

.system {
  display: block;
  clear: both;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center; }

.notification {
  left: 0;
  right: 0;
  color: #888;
  position: absolute;
  display: inline-block;
  bottom: 0; }

#speak {
  text-align: right;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 0.5em;
  display: inline-block;
  color: white;
  clear: both;
  background-color: red;
  cursor: pointer; }

#dimmer {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  width: 100%;
  font-weight: 700;
  font-size: 2em; }
  #dimmer h1 {
    border: none;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    color: white; }
