h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    padding-bottom: $gap;
    border-bottom: 1px solid $c-border;
}

a {
    color: $c-highlight;
}

html, body, .container, .row, .column {
    height: 100%;
}

#chat {
    position: relative;
    height: 80%;
}

.chat {
    padding: 1em;
}

.system {
    background-color: #eee;
    text-align: center;
}

.notification {
    text-align: center;
    color: #eee;
    position: absolute;
    bottom: 0;
}