h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    padding-bottom: $gap;
    border-bottom: 1px solid $c-border;
}

a {
    color: $c-highlight;
}

html, body, .container, .row, .column {
    height: 100%;
}

#chat {
    position: relative;
    height: 70%;
    overflow-y: auto;
}

.chat {
    padding: 1em;
    margin: 0.5em;
    display: inline-block;
    clear: both;
    border-radius: 0.5em;
}

.chat.user {
    background-color: #0cf;
    float: right;
}

.chat.cb {
    background-color: #4ae886;
    float: left;
}

.system {
    display: block;
    clear: both;
    background-color: #eee;
    text-align: center;
}

.notification {
    left: 0;
    right: 0;
    color: #888;
    position: absolute;
    display: inline-block;
    bottom: 0;
}

#speak {
    text-align: right;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 0.5em;
    display: inline-block;
    clear: both;
    background-color: #fff200;
    cursor: pointer;
}